/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

reg 41: turn off 12,11,6,5
reg 42: turn off 0,2,3,4,5,6
.css~origin_master
public/js/app.js~origin_master
public/css/app.css~origin_master
